# Aliases

# IP addresses
alias external-ip='curl -4 icanhazip.com'
alias local-ip='ipconfig getifaddr en0'
alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'

# Folder
alias courses='~/Developer/courses'
alias github='~/Developer/github'
alias projects='~/Developer/projects'
alias temp='~/Developer/temp'

# Package Manager
alias bup='brew update -q; brew upgrade -q; brew cu -q -a -y --no-brew-update; brew cleanup -q --scrub --prune=all'
alias to-nvmrc='echo $(node -v) > .nvmrc'
alias npm-up='npx npm-check-updates --dep prod,dev --upgrade --color --interactive'
alias npm-gup='npm update -g'
alias pnpm-up='pnpm up --latest -r -i'
alias bun-up='bunx npm-check-updates -i'
alias yarn-up='yarn upgrade-interactive --latest'

# Editors
alias sz='source ~/.zshrc'
alias vim='nvim'
alias vi='nvim'

# Finder
alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Dock
alias lockdock='defaults write com.apple.Dock position-immutable -bool yes && killall Dock'
alias unlockdock='defaults write com.apple.Dock position-immutable -bool no && killall Dock'
alias fixdock='defaults write com.apple.Dock size-immutable -bool true; killall Dock'
alias releasedock='defaults write com.apple.Dock size-immutable -bool false; killall Dock'

# Screen
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
